streamlit
streamlit-chat
boto3
mcp
uv
rich
colorama
langchain_aws
langchain
langchain_community
langgraph
langchain_experimental
langchain-mcp-adapters
strands-agents
strands-agents-tools
colorama
rich
bedrock-agentcore